/* MASTER STYLES */
body {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

header .intro {
  position: relative;
}

header .intro .head {
  position: absolute;
  top: -15%;
  left: 70%;
  height: 90%;
  transform: translate(-50%, 50%);
}

header .navbar .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #2ecc71;
  transition: width 0.3s;
}

header .navbar .navbar-nav .nav-link:hover::after {
  width: 60%;
  height: 2px;
  background-color: #2ecc71;
  transition: width 0.3s;
  border-bottom: 2px solid #27ae60;
}

header .navbar .navbar-nav i {
  font-size: 1.2rem;
  color: #7aca8d;
  cursor: pointer;
}

.featured .row .one {
  height: 400px;
}

.featured .row .one img {
  width: 100%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
}

.featured .row .one .text {
  background: rgba(0, 0, 0, 0.5);
  width: 20%;
  height: 35%;
  position: absolute;
  top: 275%;
  bottom: 0;
}

.featured .row .one .text p {
  line-height: 2px;
}

.featured .row .one .text a {
  text-decoration: none;
  border-style: none;
  color: #fff;
  font-size: 0.9rem;
}

.featured .row .one .text a::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: #2ecc71;
}

.slideshow {
  position: relative;
  width: 100%;

  /* padding: 40px 100px; */
}

.carousel-item {
  height: 500px;
}

h2 {
  font-weight: 800;
  color: #fff;
}

h4 {
  font-weight: 200;
  color: #fff;
}

h6 {
  font-weight: 400;
  left: 70%;
  color: #fff;
}

p {
  font-weight: 500;
  color: #fff;
}

hr {
  background: #27ae60;
  color: #27ae60;
  height: 0.07rem;
}
